<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Linkurious.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css" media="screen">
    <script type="text/javascript"></script>
  </head>
<body>
  <div class="container">
    <h1><small>linkurious.js</small></h1>
    <hr/>
  </div>
  <div class="container">
    <div class="col-md-2">
      <a href='/'><h3>Overview</h3></a>
      <a href=''><h3>Tutorials</h3></a>
      <a href='examples.html'><h3>> Examples</h3></a>
      <a href=''><h3>API</h3></a>
      <a href=''><h3>Plugins</h3></a>
      <a href='download.html'><h3>Download</h3></a>
      <a href=''><h3>Getting Help</h3></a>
    </div>
    <div class="col-md-2">
      <a href=''><h5>> Hello world</h5></a>
      <a href=''><h5>Force layout</h5></a>
      <a href=''><h5>Import GEXF</h5></a>
      <a href=''><h5>Lasso</h5></a>
      <a href=''><h5>Renderers</h5></a>
    </div>
    <div class="col-md-8">
		<div class="container"></div>

{{ content }}

</body>
</html>
