---
layout: base
root: ../
---

<div class="col-md-2">
  <a href='{{site.baseurl}}examples/basic.html'><h5>Hello world</h5></a>
  <a href='{{site.baseurl}}examples/force.html'><h5>Force layout</h5></a>
  <a href='{{site.baseurl}}examples/drag.html'><h5>Drag nodes</h5></a>
  <a href='{{site.baseurl}}examples/basic.html'><h5>Import GEXF</h5></a>
  <a href='{{site.baseurl}}examples/basic.html'><h5>Lasso</h5></a>
  <a href='{{site.baseurl}}examples/basic.html'><h5>Renderers</h5></a>
</div>

<div class="col-md-8">
	<div class="container"></div>

{{ content }}